<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Shawn. It uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="img/panda.png">
        <p>Created by {{name}}</p>
    </div>
    {{>footer}}
</body>

</html>